BasedOnStyle: Google
Language: Cpp
Standard: c++17
ColumnLimit: 100
IndentWidth: 2
ContinuationIndentWidth: 4
AccessModifierOffset: -1
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: true
IncludeBlocks: Regroup
NamespaceIndentation: All
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
